/*header style*/
header {
    text-align: center; 
    padding: 20px;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #04AA6D;
  }
 /*creating the two-column layout*/
 *{
    box-sizing: border-box;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
 }
 .post-text-box {
    flex: 70%;
    padding: 20px;
 }
 .profile {
    flex: 70%;
    padding: 20px;
 }
 /*profile image and heading style*/
 .profile img {
    width: 120px;
    display: block;
    margin-left: 0;
    margin-right: 0;
 }
 .profile h1 {
    text-align: center;
 }